html{
    background-color: greenyellow;
}

.main{
    background-color: white;
    align-content: center;
    text-align: left;
    margin: 150px
    ;
}

.heading{
    text-align: center;
}

.options{
    text-decoration: black;
    size: 25px;
}

h2, .option , .recommend{
    color: black;
    size: 25px;
}

.again{
    display: inline-block;

}

.option{
    box-sizing: 180px;
}